.view-animate-container {
  position:relative;
  min-height:500px!important;
  height:auto;
  overflow:hidden;
}

.view-animate {
  padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  transition:opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  display:block;
  width:100%;
  /*border-left:1px solid black;*/
  position:absolute;
  top:0;
  /*left:0;*/
  opacity : 0;
  right:0;
  bottom:0;
  padding:10px;
}

.view-animate.ng-enter {
  /*left:100%;*/
  opacity : 0
}
.view-animate.ng-enter.ng-enter-active {
  /*left:0;*/
  opacity : 1
}
.view-animate.ng-leave.ng-leave-active {
  /*left:-100%;*/
  opacity : 0
}

button, input {
	border-radius : 5px;
}

ul.paging li {
	list-style : none;
	width : 34px;
	float : left;
	color : #666666;
	border : 2px solid #666666;
	margin-right : 5px;
	padding : 5px;
	text-align : center;
	font-weight : bold;
	border-radius : 5px;
}

ul.paging li:hover, ul.paging li.active {
	background-color: #666666;
	color: white
}

.footer {
	position: fixed;
    bottom: 0px;
    width: 100%;
}