<div class="view_content listview row">
<div class="col-md-12">
	<table class="table table-striped">
	<thead>
	  <tr>
		<th>#</th>
		<th>{{lang.id}}</th>
		<th>{{lang.item}}</th>
		<th>{{lang.price}}</th>
		<th>{{lang.action}}</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="item in items" >
		<td>{{(page - 1) * pageSize + $index}}</td>
		<td data-did={{item.did}}>{{item.id}}</td>
		<td><a ui-sref=".item({ id: item.id })" >{{item.name}}</a></td>
		<td>{{item.price}}</td>
		<td>
			<span ng-click="deleteItem(this)" data-id="{{item.id}}" class="glyphicon glyphicon-remove"></span>
			<span ng-click="editItem(this)" data-id="{{item.id}}" class="glyphicon glyphicon-edit"></span>
		</td>
	  </tr>
	</tbody>
	</table>
	<div>
		<!--<button ng-click="getOne(this)">getOne</button>
		<button ng-click="getAll(this)">getAll</button>
		<button ng-click="update(this)"></button>
		<button ng-click="delete(this)"></button>
		<button ng-click="insert(this)"></button>-->
	</div>
	<paging
		class="small"
		page="page" 
		page-size="pageSize" 
		total="total"
		adjacent="{{adjacent}}"
		dots="{{dots}}"
		scroll-top="{{scrollTop}}" 
		hide-if-empty="{{hideIfEmpty}}"
		ul-class="{{ulClass}}"
		active-class="{{activeClass}}"
		disabled-class="{{disabledClass}}"
		show-prev-next="{{showPrevNext}}"
		paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, total)">
	</paging>   
	
	<form name="myForm" page="{{page}}">
	<table class="table table-striped">
	<tbody>
	  <tr>
		<td colspan="3"><input type="text" name="itemname" ng-model="example.text" ng-pattern="example.word" required ng-trim="false" />
		<input type="number" name="itemprice" value="100" required ng-trim="true" />
		<input type="text" name="itemcurrency" value="$"/>
		<button class="saveitem" ng-click="addItem($event)">save new</button> <button class="saveitem" ng-click="saveChange($event)">save changes</button></td>
	  </tr>
	</tbody>
	</table>
	</form>
	<!--<ul class="paging"><li ng-repeat="item in pageitems" class="page_item" data-start=" {{item}}" ng-click="loadPage($event)">{{item}}</li></ul>-->
</div>
</div>