<nav class="navbar navbar-inverse">
<div class="container">
  <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="#">ITEMS</a>
  </div>
  <div class="navbar-collapse collapse">
	<ul class="nav navbar-nav">
		<li ui-sref-active="active"><a ui-sref="app.home"> {{lang.home}} </a></li>
		<li ui-sref-active="active"><a ui-sref="app.items"> {{lang.items}} </a></li>
		<li ui-sref-active="active"><a ui-sref="app.orders"> {{lang.orders}} </a></li>
		<li ui-sref-active="active"><a ui-sref="app.users"> {{lang.users}} </a></li>
	</ul>
  </div><!--/.nav-collapse -->
</div>
</nav>
<div><span ng-click="changeLanguage('en')"> en </span> | <span ng-click="changeLanguage('de')"> de </span></div>