<div class="dashboard">
	<h1>
	<span class="label biglabel label-success" ui-sref-active="active"><a ui-sref="app.home"> {{lang.home}} </a></span>
    <span class="label biglabel label-success" ui-sref-active="active"><a ui-sref="app.items"> {{lang.items}} </a></span>
	</h1>
	<!--<h1>
    <span class="label biglabel label-success" ui-sref-active="active"><a ui-sref="app.orders"> {{lang.orders}} </a></span>
    <span class="label biglabel label-success" ui-sref-active="active"><a ui-sref="app.users"> {{lang.users}} </a></span>
	</h1>-->
</div>