<div class="view_content listview row">
<div class="col-ld-6">
	<table class="table table-striped">
	<thead>
	  <tr>
		<th>#</th>
		<th>{{lang.param}}</th>
		<th>{{lang.total}}</th>
		<th>{{lang.datetime}}</th>
		<th>{{lang.action}}</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="item in items" >
		<td>#</td>
		<td>{{item.param}}</td>
		<td><a ui-sref=".item({ id: item._id })">{{item.total}}</a></td>
		<td>{{item.datetime}}</td>
		<td><span ng-click="deleteItem(this)" data-id="{{item._id}}"> X </span></td>
	  </tr>
	</tbody>
	</table>
	<button type="button" class="addnew btn btn-lg btn-success" ng-click="newItem()" > + </button>
</div>
</div>