<div class="view_content listview row">
<div class="col-md-6">
	<table class="table table-striped">
	<thead>
	  <tr>
		<th>#</th>
		<th>{{lang.item}}</th>
		<th>{{lang.price}}</th>
		<th>{{lang.action}}</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="item in items" >
		<td>#</td>
		<td><a ui-sref=".item({ id: item._id })">{{item.name}}</a></td>
		<td>{{item.price}}</td>
		<td><span ng-click="deleteItem(this)" data-id="{{item._id}}"> X </span></td>
	  </tr>
	</tbody>
	</table>
	
	<form name="myForm">
	<table class="table table-striped">
	<tbody>
	  <tr>
		<td><input type="text" name="itemname" ng-model="example.text" ng-pattern="example.word" required ng-trim="false" /></td>
		<td><input type="number" name="itemprice" value="100" required ng-trim="true" /></td>
		<td><input type="text" name="itemcurrency" value="$"/></td>
		<td><button class="saveitem" ng-click="addItem($event)">save<button></td>
	  </tr>
	</tbody>
	</table>
	</form>
		
</div>
</div>